<a href="https://colab.research.google.com/github/SUNITHA123-THUMMA/cse3/blob/master/Variables%2C_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Jupyter Shortcuts
1) Shift + Enter = Run a cell<br>
2) Shift + Tab = Displays function definition<br>

### Variable
1) A variable is a container which is used to store some value. The value can be of any data type<br>
2) Multiple variables can be initialized in the same line by separating them by comma<br>
3) Variables can be reinitialized, reassigned, redeclared

In [ ]:
a = 15
print(a)
# a is the variable
# 1) The value of 15 is stored in the variable a
# 2) The value of 15 is assigned in the variable a
# 3) The variable a is initialized with the value of 15

15

In [ ]:
p,q,r = 10,True,"hello"
print(p) 
print(q)
print(r)
print(p,q)

10
True
hello
10 True

In [ ]:
# Variables can be reinitialized, reassigned, redeclared
x = 10
print(x)
x = "Python"
print(x)

10
Python

#### Rules of Naming a variable

1) Start with A-Z, a-z or underscore(_)<br>
2) Should not start with number<br>
3) Should not contain special characters<br>
4) Should not contain python keywords<br>

In [ ]:
_A1 = "Python"
print(_A1)

Python

In [ ]:
324wewr = "Hello"
print(324wewr)

SyntaxError: invalid syntax (<ipython-input-15-8e7ac2e5fb21>, line 1)

In [ ]:
run123 = "World"
print(run123)

World

In [ ]:
w = 15
print(w)
type(w)

15

int

In [ ]:
w1 = 55
w1

55

#### Dynamic Typing
The data type of the variable is defined at the run time

In [ ]:
# int a = 10
g = "4"
print(g)
print(type(g))

4
<class 'str'>

#### Data Types
int,float,str,bool,NoneType,complex

In [ ]:
a1 = 467
print(a1)
type(a1)

467

int

In [ ]:
a2 = 32.34
print(a2)
type(a2)

32.34

float

#### Strings
1) Enclosed in single, double or triple quotes<br>
2) Triple quotes are used to write multiline strings

        "" - Double Quotes
        '' - Single Quotes
        """""" - Triple quotes
        '''''' - Triple quotes

In [ ]:
a3 = "Hello World"  # "" - double quotes
a4 = 'Python'       # ''  - single quotes
print(a3)
type(a4)

Hello World

str

In [ ]:
a5 = "Google'
print(a5)

SyntaxError: EOL while scanning string literal (<ipython-input-30-5950ca671020>, line 1)

In [ ]:
a5 = '''Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.'''
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.

str

In [ ]:
a5 = """Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day."""
print(a5)
type(a5)

Russia vs. Ukraine war has affected the world stock market.
The market is hitting a new low every day.

str

In [ ]:
d1 = '''welcome to India'''
print(d1)

welcome to India

In [ ]:
d1 = """welcome to 
India"""
print(d1)

welcome to
India

In [ ]:
# bool - True or False
a6 = True
print(a6)
type(a6)

True

bool

In [ ]:
a7 = 5 + 9j
print(a7)
type(a7)
# p + qj => p is the real part, q is the imaginary part, j is square root of -1

(5+9j)

complex

In [ ]:
a8 = None
print(a8)
type(a8)

None

NoneType

### Operators

#### 1) Arithmetic Operators

In [ ]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # Normal Division - always returns floats
print(a//b) # Integer division 
print(a**b) # Power operators => a raised to power of b
print(b**a) # b raised to the power of a
print(a%b)  # Mod Operator => Returns remainder

7
3
10
2.5
2
25
32
1

#### 2) Assignment Operator

In [ ]:
a,b = 5,2
print(a,b)
a += b     # a = a+b
print(a,b) # a=7, b=2
a -= b     # a = a-b  
print(a,b) # a=5, b=2
b *= a     # b= b*a
print(a,b) # a=5 , b=10
a /= b     # a= a/b
print(a,b) # a=0.5, b=10

5 2
7 2
5 2
5 10
0.5 10

In [ ]:
a,b = 5,2
print(a,b)
a **= b   # a = a**b
print(a,b)

5 2
25 2

#### 3) Relational or Comparison Operators - returns True or False

In [ ]:
a,b = 5,3
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)  # !=   => Not equal to ( a not equals to b)
print(a==b)  # ==   => Equal to  (Comparison)

True
True
False
False
True
False

#### 4) Logical Operators - returns True or False

and - returns True when both conditions are True, otherwise False 

or - returns True when either of the conditions is True, otherwise False

In [ ]:
a,b,c = 10,7,15  
print(a>b and a<c)  # T
print(a<b and c>a)  # F
print(a>c and b>c)  # F
print(a>b or c<a)   # T
print(c>a or b>a)   # T
d = True
print(not d)

True
False
False
True
True
False

#### 5) Membership Operator(in, not in) - returns True or False
membership operators works with Strings, List and Tuples,Sets

In [ ]:
a = "Russia vs. Ukraine war has affected the global economy drastically."
print('war' in a)   # T
print("cted" in a)  # T
print("bal eco" in a) # T
print("baleco" in a)  # F
print("eco bal" in a) # F
print("""Ukraine""" in a) # T
print("when" in a)  # F
print("has aff" not in a) # F
print("happen" not in a)  # T
print('Ukraine w' in a)  # T
print('U w' not in a)    # T

True
True
True
False
False
True
False
False
True
True
True

In [ ]:
print("Welcome to Python")
print('Hello world')

Welcome to Python
Hello world

### print and input (Input and Output)
\n - newline character

In [ ]:
print('welcome to \npython')

welcome to
python

In [ ]:
w,n = 78,45
print(w,'\n',n)
print(n,w)
print('Hello')

78
 45
45 78
Hello

#### parameters of print - end and sep
end - values passed in end parameter will be displayed at the end

In [ ]:
a = "Hello"
b = "World"
c = "Python"
print(a,b,c)  # end ='\n'
print(a,b,c,end=" Welcome ")
print('Google')

Hello World Python
Hello World Python Welcome Google

In [ ]:
print(c,a,end=" ** ")
print('Laptop')

Python Hello ** Laptop

In [ ]:
print(a,end=" ")
print(7*3)

Hello 21

In [ ]:
print(a,b,end=" 34 ")
print(b,c)

Hello World 34 World Python

In [ ]:
print(a,b,end=" 34\n")
print(b,c)

Hello World 34
World Python

#### sep - It is used to sepearate different values that are passed in the print()

In [ ]:
p,q,r = "Hi","Bye","Bat"
print(p,q,r)    # Default sep used is " "  (empty space)
print(p,q,r,sep="__")
print(p,q,r,sep=" *** ")

Hi Bye Bat
Hi__Bye__Bat
Hi *** Bye *** Bat

In [ ]:
p = "Google"
q = "Meta"
print(p,sep=" Python ")  # Google 
print(p,end=" Python\n")  # Google Python
print(p,q,sep=" Python ")
print(p,q,sep="\n")

Google
Google Python
Google Python Meta
Google
Meta

In [ ]:
a,b,c = 10,20,30
print(a,b,c,sep=' : ',end=" *_*")

10 : 20 : 30 *_*

In [ ]:
x,y,z = 5,7,8
print(x,y,z) # end="\n" sep=" "
print('Hello')
print(x,y,z,sep=" ** ",end=" India ")

5 7 8
Hello
5 ** 7 ** 8 India

#### input()
1) It is used to accpet user input. Accept data at run time.<br>
2) Return type of input() is string

In [ ]:
name = input("Enter your name: ")
print(name)

Enter your name: Amit
Amit

In [ ]:
d = input()
print(d)
type(d)

Hello
Hello

str

#### Typecasting
Changing data from one data type to another data type

In [ ]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 34
34

int

In [ ]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number Seven

ValueError: invalid literal for int() with base 10: 'Seven'

In [ ]:
n = int(input('Enter a number '))
print(n)
type(n)

Enter a number 34
34

int

In [ ]:
r = float(input('Enter a decimal num: '))
print(r)
type(r)

Enter a decimal num: 84.39
84.39

float

### print formatting methods

In [ ]:
name = "Shreya"
age = 22
city = "Bangalore"
print(name,',whose age is',age,'lives in',city)      # comma separated method
print(f'{name} whose age is {age} lives in {city}')  # f-formatting
print(f"{age} whose age is {city} lives in {name}")  # f-formatting
print("{} whose age is {} lives in {}".format(name,age,city))  # format method

Shreya ,whose age is 22 lives in Bangalore
Shreya whose age is 22 lives in Bangalore
22 whose age is Bangalore lives in Shreya
Shreya whose age is 22 lives in Bangalore

In [ ]:
# variables
# data types
# Operators
# input()
# print()
# end and sep
# typecasting
# print formatting

In [ ]:
# if-else
# for 
# while loop
# break and continue